<div
  role="alert"
  class="rounded-md border border-gray-300 bg-white p-4 shadow-sm dark:border-gray-600 dark:bg-gray-800"
>
  <div class="flex items-start gap-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="size-10 opacity-75"
      fill="none"
      viewBox="0 0 24 24"
      stroke="red"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2z"
      />

      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15 9l-6 6m0-6l6 6"
      />
    </svg>


    <div class="flex-1">
      <strong class="font-medium text-gray-900 dark:text-white"> Changes saved </strong>

      <p class="mt-0.5 text-sm text-gray-700 dark:text-gray-200">
        Your product changes have been saved.
      </p>
    </div>

    <button
      class="-m-3 rounded-full p-1.5 text-gray-500 transition-colors hover:bg-gray-50 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200"
      type="button"
      aria-label="Dismiss alert"
    >
      <span class="sr-only">Dismiss popup</span>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-5"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
</div>