@layout.template({})

    @slot('main')

        @each(recipe in recipe)
            @cards({
                title: recipe.name,
            })

            @slot('content')
                <p>{{{recipe.type_recipes_id.type}}}</p>
                <a href="/cocktails/{{{recipe.id}}}" class="button">Voir la recette</a>
            @endslot

            @end
        @endeach

    @endslot

@end