@layout.template({title:'Mes recettes'})

  @slot('main')
    <div id="cards">

      @each(recipe in recipes)
        @cards({
            upperText: recipe.typeRecipe.type,
            mainText: recipe.nom,
        })

          @slot('description')
            <p>{{{recipe.description}}}</p>
            <p>
              @each(ingredient in recipe.recipeIngredients)

                <br>{{{ingredient.ingredients.nom + ' - ' + ingredient.quantity}}}

              @endeach
            </p>
          @endslot

        @endcards

      @endeach

    </div>
  @!buttonAdd({
    method:'get'
  })
  @endslot
@end